*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.classpath
.project
.settings/
.idea/
*/.classpath
*/.gitignore
*/.project
*/.settings/
target/
*/target/
*~
*.bak
.iml
*.log
*/.log